<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/administrador">Home</a></li>
                        <li class="breadcrumb-item"><a href="/administrador/grupo">Grupos</a></li>
                        <li class="breadcrumb-item active">Vincular Região</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <div class="card card-success">
                        <div class="card-header">
                            <h3 class="card-title">Vincular Regiões ao {$groupName._grupo}</h3>
                        </div>

                        <div class="card-body">

                            <div class="row">

                                <div class="col-md-6">
                                    <div class="box box-success">
                                        <div class="box-header with-border">
                                            <h3 class="box-title">Regiões não vinculadas</h3>
                                        </div>
                                        <!-- /.box-header -->
                                        <!-- form start -->
                                        <div class="box-body">
                                            <table class="table table-striped">
                                                <thead>
                                                <tr>
                                                    <th style="width: 10px">#</th>
                                                    <th>Região</th>
                                                    <th style="width: 240px">&nbsp;</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {loop="$regionNotLinked"}
                                                <tr>
                                                    <td>{$value.id_region}</td>
                                                    <td>{$value.region}</td>
                                                    <td>
                                                        <a href="/administrador/grupo/{$group.id_group}/regiao/{$value.id_region}/adicionar"
                                                           class="btn btn-primary btn-xs pull-right"><i
                                                                class="fa fa-arrow-right"></i> Adicionar</a>
                                                    </td>
                                                </tr>
                                                {/loop}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="box box-success">
                                        <div class="box-header with-border">
                                            <h3 class="box-title">Regiões vinculadas</h3>
                                        </div>
                                        <!-- /.box-header -->
                                        <!-- form start -->
                                        <div class="box-body">
                                            <table class="table table-striped">
                                                <thead>
                                                <tr>
                                                    <th style="width: 10px">#</th>
                                                    <th>Região</th>
                                                    <th style="width: 240px">&nbsp;</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {loop="$regionLinked"}
                                                <tr>
                                                    <td>{$value.id_region}</td>
                                                    <td>{$value.region}</td>
                                                    <td>
                                                        <a href="/administrador/grupo/{$group.id_group}/regiao/{$value.id_region}/remover"
                                                           class="btn btn-primary btn-xs pull-right"><i
                                                                class="fa fa-arrow-left"></i> Remover</a>
                                                    </td>
                                                </tr>
                                                {/loop}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- /.content -->
</div>